.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0; /* Для кращої видимості */
  }
  
  .marquee {
    display: flex; /* Використовуємо flex для горизонтального розташування */
    animation: marquee 10s linear infinite; /* Безкінечна анімація */
  }
  
  .marquee-content {
    display: flex;
    white-space: nowrap;
    margin-right: 30px; /* Відстань між елементами */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0); /* Початкова позиція */
    }
    100% {
      transform: translateX(-50%); /* Переміщуємо на половину ширини контейнера */
    }
  }